<h3>Add your details :</h3>
<form #f="ngForm" (ngSubmit)="onSubmit(model)">
  <div class="form">
    <div class="flex-row">
      <label for="name">Name:</label>
      <input [(ngModel)]="model.name" name="description" placeholder="name" required #desc="ngModel">
    </div>
    <div class="flex-row">
        <label for="Age">Age: </label>
        <input id="age" name="age" placeholder="Age" [(ngModel)]="model.age" required #first="ngModel">
    </div>
    <div class="flex-row">
      <label for="name">Place:</label>
      <input [(ngModel)]="model.place" name="Place" placeholder="place" required #desc="ngModel">
    </div>
    <div class="flex-row">
      <label for="name">Photo:</label>
      <input [(ngModel)]="model.photo" type="file" name="Photo" placeholder="Upload your Photo" required #desc="ngModel" (change)="fileChangeEvent($event)">
    </div>
  </div>
  <button type="submit">Submit</button>
</form>
