.flex-row {
    display: flex;
    flex-direction: row;
    margin: 1em 0;
    * {
        margin: 0;
    }
    h4 {
        margin-right: 5px;
    }
}
.justify-sb {
    justify-content: space-between;
}
.no-result {
    padding: 1em 0;
}
.details {
    padding: 10px 0 10px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    h5 {
        margin-right: 1em;
    }
}
img {
    width: 300px;
}
.form {
    label {
        min-width: 8em;
    }
    input {
        padding: 3px 10px;
        &:focus {
            outline: none;
        }
    }
}
nav {
    a {
        text-decoration: none;
        color: #000;
        margin-right: 0.5em !important;
        padding: 10px 20px;
        border-radius: 4px;
        border: 1px solid #000;
    }
}
